.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: white;

}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

* Light theme styles */
.dark-theme .cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}

.dark-theme .cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

/* Dark theme styles */
.light-theme .cursor-dot {
  width: 5px;
  height: 5px;
  background-color: black; /* Change the color for the dark theme */
}

.light-theme .cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 0%, 0.5); /* Change the color for the dark theme */
}